aws_region  = "eu-west-3"
app_name    = "ux-ui-auditor"
environment = "staging"

app_domain              = ""
certificate_arn         = ""
allowed_ingress_cidrs   = ["0.0.0.0/0"]

public_image_uri        = "public.ecr.aws/k8t9f9t5/ui-ux-auditor:latest"
container_cpu           = 512
container_memory        = 2048
desired_count           = 1

enable_vercel           = true
enable_ai_review        = true
enable_figma_ai_review  = false
ai_review_backend       = "openai"
ai_review_base_url      = "https://api.openai.com/v1"
ai_review_model         = "gpt-4.1-mini"

enable_ollama_host      = false
ollama_instance_type    = "t3.large"
ollama_root_volume_size = 80
ollama_bootstrap_model  = ""
gtm_vision_base_url     = ""
gtm_vision_model        = "qwen3-vl:235b-cloud"

tags = {
  Project     = "ux-ui-auditor"
  Environment = "staging"
  Owner       = "your-name"
}
